<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defsultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        General Terms for Riders
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3 class="ion-text-wrap">
            These General Terms set forth the main terms and conditions applying to and governing the usage of the
            Pickmeup Services. In order to provide logistics Services via using the Pickmeup Platform you must agree to
            the terms and conditions that are set forth below.
          </h3>
        </ion-label>
      </ion-item>
      <ion-list>
        <ion-item-divider>
          <h2>
            1. DEFINITIONS
          </h2>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <span class="bold">1.1.</span> Pickmeup Services (also referred to as "we", "our" or "us") – Pickmeup
              Innovations Enterprises
              Limited,
              a private limited company incorporated and registered under the laws of Republic of Nigeria, registered
              office 1 salami street mende Maryland.
            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.2.</b> Pickmeup Rider App – a smartphone application for Riders and users to request and receive
              Logistics
              Services
            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.3.</b> Pickmeup Platform – technology connecting users with riders to help them move their packages
              around
              cities more efficiently and abroad.
            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.4.</b> User – a person requesting Logistics Services by using Pickmeup Platform.
            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.5.</b> Rider (also referred to as „you“) – the person providing logistics Services via the Pickmeup
              Platform.
              Each rider will get a personal Pickmeup Rider Account to use Pickmeup App and Pickmeup Platform.

            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.6.</b> Agreement – this agreement between Rider and Pickmeup regarding the use of Pickmeup Services
              which
              consists of:
            </h3>
            <p>1.6.1. these General Terms;</p>
            <p>1.6.2. special terms displayed in Pickmeup App, e.g regarding price info or service descriptions;</p>
            <p>1.6.3. the Riders guidelines; and</p>
            <p>1.6.4. other terms referred to in this Agreement as may be amended from time to time.</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.7.</b> Fare – the fee a user is obliged to pay rider for provision of the logistics Services.

            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.8.</b> Commission – the fee that rider is obliged to pay to Pickmeup for using the Pickmeup Platform.
            </h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>1.9.</b> In-app Payment – cards, and wallet payment methods used by the user via the Pickmeup App to
              pay for
              the logistics Services.

            </h3>
          </ion-label>
        </ion-item>
      </ion-list>


      <ion-list>
        <ion-item-divider>
          <h2>
            2. ENTRY INTO THE AGREEMENT
          </h2>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <span class="bold"> 2.1. </span>
              Prior to using the Pickmeup Services, you must sign up by providing the requested information in the
              signup application on the App and uploading necessary documentation as required by us. You may sign up
              either as a legal or a natural person. Upon successful completion of the signup application, we will
              provide you with a personal account accessible via a username and password. By clicking the „Sign up"
              button located at the end of the signup application, you represent and warrant that:

            </h3>
            <p>2.1.1. pursuant to valid legal acts, you are entitled to enter into an agreement with us to use the
              Pickmeup Platform for providing logistics Service;</p>
            <p>2.1.2. you have carefully studied, fully understand and agree to be bound by these General Terms,
              including all obligations that arise as provided herein and from Agreement;</p>
            <p>2.1.3. all the information you have presented to us is accurate, correct and complete;</p>
            <p>2.1.4. you will keep Pickmeup rider Account accurate and profile information updated at all times;</p>
            <p>2.1.5. you will not authorize other persons to use your Pickmeup Rider Account nor transfer or assign it
              to any other person;</p>
            <p>2.1.6. you will not use the Pickmeup Services for unauthorized or unlawful purposes and impair the proper
              operation of the Pickmeup Services;</p>
            <p>2.1.7. at all times, you fully comply with all laws and regulations applicable in the state you are
              providing logistics Services in, including (but not limited to) laws regulating logistics services;</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h3>
              <b>2.2.</b>You are obliged to provide your bank requisites in course of filling the payment details upon
              registration. In case you are a legal person, you must insert the bank account of the company. We are
              transferring In-app Payment fees to the bank account that you have provided. We are not liable for any
              incorrect money transactions in case you have provided wrong bank requisites.

            </h3>
          </ion-label>
        </ion-item>

        
      </ion-list>

       <ion-list>
         <ion-item-divider>
           <h2>
             3. RIGHT TO USE Pickmeup APP AND Pickmeup RIDERACCOUNT
           </h2>
         </ion-item-divider>
         <ion-item lines="none">
           <ion-label class="ion-text-wrap">
             <h3>
               <span class="bold"> 3.1. </span>
               License to use the Pickmeup App and The Pickmeup Rider Account. Subject to your compliance with the
               Agreement, We hereby grant you have a license to use the Pickmeup App and the Pickmeup Rider Account.
               </h3>
           </ion-label>
         </ion-item>


       </ion-list>

        <ion-list>
          <ion-item-divider>
            <h2>
              4. PICKMEUP FEES
            </h2>
          </ion-item-divider>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="bold"> 4.1. </span>
                In order to use Pickmeup Services, you are obliged to pay to a fee (i.e. the Pick Fee). The Pick Fee is
                paid based on the Fare of each logistics Service order that you have completed. The amount of the
                Pickmeup Fee is made available to you via Pickmeup Rider Account or other pertinent means. Please
                acknowledge that the Pickmeup Fee may change from time to time. We shall send you a prior notification
                of each such change. Pickmeup is entitled to 25% of every assigned job given to partner riders.
              </h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="bold"> 4.2. </span>
               You must pay the Pickmeup Fee and any other fees due to us for the previous month at latest by the 15th
               date of the following month. Upon delay with payment of the Pickmeup Fee, you shall be obliged to pay a
               penalty of late payment in the amount of 0,04% (zero point zero four percent) of the unpaid amount per
               day. You are obliged to cover all costs incurred by us, which are related to debt collection activities.
              </h3>
            </ion-label>
          </ion-item>

        </ion-list>

        <ion-list>
          <ion-item-divider>
            <h2>
              5. IN-APP PAYMENTS
            </h2>
          </ion-item-divider>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="bold"> 5.1. </span>
               We may enable users to pay for the logistics Service via cards and wallet system directly in the Pickmeup
               App (i.e. In-app Payment). You hereby authorise us to act as your limited commercial agent solely for the
               purpose of collecting, on your behalf, the Fares or other fees paid by the user via In-app Payment. Any
               payment obligation made by the Passenger via the In-app Payment shall be considered fulfilled as of the
               time that the payment has been made.

              </h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="bold"> 5.2. </span>
                You may not refuse payment by the Passenger via the In-app Payment, or influence the Passenger against
                the use of the In-app Payment. In case you refuse to accept an In-app Payment without just cause, we
                shall be entitled to charge you a contractual penalty in the amount of 1000 for every refusal and/or
                block your right to use the Pickmeup Services in case of repetitive behaviour.
              </h3>
            </ion-label>
          </ion-item>

        </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
