<ion-content class="ion-no-padding" >
  <div class="header" style="text-align: right;">

    <div style="margin: 15px 20px;">
      <form name="form" #available="ngForm">
        <ion-toggle
          mode="ios"
          [checked]="status"
          color="primary"
          name="available"
          slot="end"
          #available="ngModel"
          ngModel="available"
          (ngModelChange)="changeStatus(available.value)"
        >
        </ion-toggle>
      </form>
    </div>
  </div>
  <div class="contents">
    <ion-item
      [routerLink]="['/profile']"
      routerLinkActive="router-link-active"
      lines="none"
    >
      <ion-avatar slot="start">
        <img class="logo" [src]="profilePic" />
      </ion-avatar>
      <ion-label class="h3">
        {{time }} <span class="nameTag">{{firstName}}</span></ion-label
      >
    </ion-item>

    <ion-segment
      color="warning"
      scrollable
      (ionChange)="segmentChanged($event)"
      value="assigned"
      [(ngModel)]="segmentModel"
    >
      <ion-segment-button value="assigned">
        <ion-label>Assigned</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accepted">
        <ion-label>Accepted</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label>History</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-list lines="none" *ngIf="segmentModel === 'assigned'">
      <ion-card *ngFor="let item of deliveries">
        <ion-item *ngIf="deliveries.length === 0">
          <ion-label>
            <p>No data available</p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-item>
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Pickup - {{ item.pickupTime | date }} </span>
                <!-- <span class="delivery-info">
                  <span class="success">Successfull</span>
                </span> -->
              </div>
              <p class="address">{{ item.pickupAddress }}</p>
              <hr />
              <div class="item-head">
                <span class="item-bold">Dropoff - {{ item.dropoffTime | date }} </span>
              </div>
              <p class="address">{{ item.dropoffAddress || 'Multiple'}}</p>
            </ion-label>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button
                  color="danger"
                  expand="full"
                  (click)="declineRequestOrder(item.reference, item.type)"
                >
                  Decline
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button
                  color="primary"
                  expand="full"
                  (click)="acceptRequestOrder(item.reference, item.type)"
                  >Accept
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card (click)="showDetails()">
        <ion-card-content>
          <ion-item>
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Pick Up - 24 Jan, 2021</span>
                
              </div>
              <p class="address">15, Itamaga Street, Ikorodu, Lagos</p>
              <hr>
              <div class="item-head">
                <span class="item-bold">Drop Off - 28 Jan, 2021</span>
              </div>
              <p class="address">15, Oke-Eletu street, Ikorodu, Lagos</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="returnedData">
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Status</span>
                <span class="delivery-info">
                  <span class="success">Delivered</span>
                </span>
              </div>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card> -->
    </ion-list>

    <ion-list lines="none" *ngIf="segmentModel === 'accepted'">
      <ion-card
        *ngFor="let item of acceptedDeliveries"
        (click)="showDetails(item.reference, 'accepted')"
      >
        <ion-card-content>
          <ion-item *ngIf="acceptedDeliveries.length <= 0">
            <ion-label>
              <p>No data available</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Pickup - {{ item.pickupTime | date }} </span>
                <!-- <span class="delivery-info">
                  <span class="success">Successfull</span>
                </span> -->
              </div>
              <p class="address">{{ item.pickupAddress }}</p>
              <hr />
              <div class="item-head">
                <span class="item-bold">Dropoff - {{ item.dropoffTime | date }} </span>
              </div>
              <p class="address">{{ item.dropoffAddress || 'Multiple'}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Status</span>
                <span class="delivery-info">
                  <span class="pending">{{ item.status }}</span>
                </span>
              </div>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list lines="none" *ngIf="segmentModel === 'history'">
      <ion-card
        *ngFor="let item of deliveriesHistories"
        (click)="showDetails(item.reference, 'history')"
      >
        <ion-card-content>
          <ion-item *ngIf="deliveriesHistories.length <= 0">
            <ion-label>
              <p>No data available</p>
            </ion-label>
          </ion-item>
           <ion-item>
            <ion-label>
              <div class="item-head">
                <span class="item-bold">Pickup - {{ item.pickupTime | date }} </span>
                <!-- <span class="delivery-info">
                  <span class="success">Successfull</span>
                </span> -->
              </div>
              <p class="address">{{ item.pickupAddress }}</p>
              <hr />
              <div class="item-head">
                <span class="item-bold">Dropoff - {{ item.dropoffTime | date }} </span>
              </div>
              <p class="address">{{ item.dropoffAddress || 'Multiple'}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button fill="clear" color="dark" expand="full" (click)="onClick()">Privacy Policy</ion-button>
</ion-footer>
